.heading{
    font-size:30px;
    background-color: rgb(255, 255, 130);
    color: black;
    width: 80%;
    border: 5px solid rgb(248, 100, 100);
    animation-name: nose1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.btn-success:hover{
    background-color: rgb(255, 194, 80);
}
canvas{
    animation-name: nose;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes nose{
    from{box-shadow: 1px 1px 38px red;}
    to{box-shadow: 1px 1px 38px blue;}
}
@keyframes nose1{
    from{box-shadow: 1px 1px 38px red;}
    to{box-shadow: 1px 1px 38px yellow;}
}